@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*
    darker bg rgb 32 34 37
    hover message bg rgb 50 53 59
    message bg rgb 54 57 63
    chat colors:
    	chat background rgb 64 68 75
    	chat text rgb 220 221 222
    	chat label rgb 114 118 125
    	svg background same as chat bg
    	svg font color rgb 220 221 222
    	caret rgb 220 221 222
    */

    --color-bg-dark: 32 34 37;
    --color-bg-default: 54 57 63;
    --color-bg-hover: 50 53 59;
    --color-bg-subtle: 64 68 75;
    --color-bg-icon: 220 221 222;
    --color-bg-emphasis: 255 255 255;
    --color-bg-overlay: 41 43 47;

    --color-bg-accent: 9 105 218;
    --color-fg-accent: 255 255 255;

    --color-fg-default: 220 221 222;
    --color-fg-muted: 114 118 125;
    --color-fg-icon-bg: 64 68 75;
    --color-fg-icon: 220 221 222;
    --color-fg-emphasis: 255 255 255;

    --color-caret-default: 220 221 222;

    --color-border-default: 48 54 61;
    --color-border-muted: 33 38 45;
    --color-border-subtle: 240 246 252 / 0.1;
    --color-border-emphasis: 255 255 255;

    --color-shadow-outline-default: rgb(139 148 158 / 30%) 0px 0px 0px 3px, rgb(1 4 9) 0px 3px 6px;
    --color-shadow-outline-muted: rgb(48 54 61) 0px 0px 0px 3px;
    --color-shadow-default: 0 0 transparent;
    --color-shadow-medium: 0 3px 6px rgb(0, 4, 10);
    --color-shadow-large: 0 8px 24px rgb(0, 4, 10);
    --color-shadow-extra-large: 0 12px 48px rgb(0, 4, 10);
    --color-shadow-ambient: rgb(48 54 61) 0px 0px 0px 1px, rgb(1 4 9 / 85%) 0px 16px 32px;
}

* {
    /* Foreground, Background */
    scrollbar-color: #999 #333;
}

::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
}

::-webkit-scrollbar-track {
    /* Background */
    background: #333;
}